.text-center {
  text-align: center;
}

.text-dark {
  color: #242943!important
}



#banner .actions li  {
    width: 100%;
}

.multiple {
  height: 100px;
  background-color: #242943;
  background-image: none;
}

.modal-header button {
  float: none;
  height: auto;
  line-height: 0;
  outline: none;
  font-size: 30px;
}

.modal.fade.in {
   top: 50%;
   transform: translateY(-50%);
}

.modal-header {
  padding: 9px ;
  border-bottom: none;
}

.ui-datepicker {
  display: none;
  background: #313550;
  box-shadow: 0 0 6px #9bf1ff;
  border: 1px solid #9bf1ff;
  padding: 10px;
  z-index: 10000!important
}

.ui-datepicker-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui-datepicker-title {
  min-width: 100%;
}

.ui-datepicker-next , .ui-datepicker-prev{
  cursor: pointer;
}

a {
  text-decoration: none!important;
}

@media(max-width: 991px) {
  .table-wrapper {
    overflow-x: scroll;
  }

  .table-wrapper table {
    min-width: 900px;
  }
}

.collapsible {
  background-color: rgba(212, 212, 255, 0.035);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  position: relative;
}

.collapsible h2 {
  margin-bottom: 0;
  padding-right: 25px;
}

.collapsible i {
  position: absolute;
  fill: white;
  top: 50%;
  right: 18px;
  transition: 0.3s all;
  font-size: 25px;
  transform: translateY(-50%);
}

.collapsible.active, .collapsible:hover {
  background-color: #242943;
}

.collapsible.active i {
  transform:  translateY(-50%) rotate(180deg );
}

.content {
  padding: 30px  18px 0;
  display: none;
  transition: 0.3s all;
  overflow: hidden;
  background-color: #242943;
}

.search-result, .person-print, .course-print {
  display: none;
}

.search-result h1 {
  margin: 0;
  padding-right: 10px;
}

.search-result .template {
  display: none;
}

.search-result h4 {
  font-weight: 300;
}

.search-result h3 span {
  font-weight: 300;
  margin-left: 7px;
}

.search-result h4 span {
  font-weight: 600;
}

select[multiple] {
  min-height: 135px;
}

.course-section table td {
  padding: 0.5em 0.5em;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.d-flex-center {
  justify-content: center;
}

.d-flex-align {
  align-items: center;
}

.admin-buttons a {
  margin: 15px;
}

#header {
  position: fixed!important;
  background: #242943!important;
  z-index: 10;
}

input {
  margin-bottom: 0!important;
}

table th.time {
  min-width: 125px;
}

table th.pc {
  min-width: 40px;
  max-width: 40px;
}

@media print {
  .course-section, table, .table-wrapper {
    overflow: hidden;
  }

  .table-wrapper {
     overflow: hidden;
  }

  #result {
    display: block;
    font-size: 8pt;
  }

  h3 {
    font-size: 13pt;
    line-height: 18pt;

  }

  h4 {
    line-height: 16pt;
    font-size: 11pt;
  }

  table, th, td {
    font-size: 8pt;
    line-height: 8pt;
  }

  .no-print, .template {
    display: none;
  }

  td {
    border-bottom: 0.5px solid #686868;
  }

}

@page {
  size: 11in 17in;
  font-size: 8pt;

  /* size: A4; */
}
