.text-center {
  text-align: center;
}

#banner .actions li  {
    width: 100%;
}

.multiple {
  height: 100px;
  background-color: #242943;
  background-image: none;
}

.modal-header button {
  float: none;
  height: auto;
  line-height: 0;
  outline: none;
  font-size: 30px;
}

.modal.fade.in {
   top: 50%;
   transform: translateY(-50%);
}

.modal-header {
  padding: 9px ;
  border-bottom: none;
}

form.validated {

}

.ui-datepicker {
  background: #313550;
  box-shadow: 0 0 6px #9bf1ff;
  border: 1px solid #9bf1ff;
  padding: 10px;
  z-index: 10000!important
}

.ui-datepicker-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ui-datepicker-title {
  min-width: 100%;
}

.ui-datepicker-next , .ui-datepicker-prev{
  cursor: pointer;
}
